<%= render @customer %>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Product Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.product_name %></td>
        <td><%= order.product_count %></td>
        <td><%= link_to "Show this order", order %></td>
        <td>
          <%= link_to '#', class: 'btn btn-danger', data: { bs_toggle: 'modal', bs_target: "#myModal-#{order.id}" } do %>
            <i class="fas fa-trash"></i> Delete
          <% end %>
          <%= render 'orders/delete_modal', order: order %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>
  
  <%= link_to '#', class: 'btn btn-danger', data: { bs_toggle: 'modal', bs_target: "#myModal-<%= @customer.id %>" } do %>
    <i class="fas fa-trash"></i> Delete Customer
  <% end %>
</div>
